.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: $color-grey-light-2;
    box-shadow: $dark-shadow;

    // @include shadow-dark; //mixin
}

.header {
    height: 7rem;
    font-size: 1.4rem;
    background-color: #fff;
    border-bottom: $color-grey-light-2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
}

.sidebar {
    background-color: $color-grey-dark-1;

    flex: 0 0 18%;  //grow shrink flex-basis

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view {
    background-color: #fff;

    /// TEST
    height: 80rem;

    flex: 1;   
}